*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e7c6ff ;
    text-align: center;

}
h1{
    font-size: 56px;
    color: #f72585;
    margin-top: 30px;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 10vmin;
    color: #f72585;
    background-color: chartreuse;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #f72585;
    color: #003566;
    border-radius: 1rem;
    border: none;
    margin-bottom: 30px;
}
#new-btn{
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #f72585;
    color: #003566;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: blue;
    font-size: 4vmin;
}
.msg-container{
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10rem;
}
.hide{
    display: none;
}